{{#each favorite_movies as |favorite_movie|}}

  <ul data-id="{{favorite_movie.id}}">
    <li> Id: {{favorite_movie.id}} </li>
    <li> Title: {{favorite_movie.title}} </li>
    <li> Genre: {{favorite_movie.genre}} </li>
    <li> Comment: {{favorite_movie.comment}} </li>
    <li> <button class= "remove-fave">Remove Movie From List</button></li>
  </li>
  <li> <button class="delete-fave">Delete a movie</button></li>
  </ul>

{{/each}}
