<div class="allfave">



  <div class="fave-movie" data-id="{{favorite_movie.id}}">
{{#each favorite_movies as |favorite_movie|}}
    <div class="getfave">
      <table>
        <tr>
          <th>Id</th>
          <th>Title </th>
          <th>Genre </th>
          <th>Comment </th>
        </tr>

        <tr>
          <td>{{favorite_movie.id}}</td>
          <td>{{favorite_movie.title}}</td>
          <td>{{favorite_movie.genre}}</td>
          <td>{{favorite_movie.comment}}</td>
          <td>
          <button class= "remove-fave">Remove Movie From List</button>
          <button class="delete-fave">Delete a movie</button>
        </td>
        </tr>
      </table>
  </div>
{{/each}}
</div>
</div>
