<div class="allfave">




{{#each favorite_movies as |favorite_movie|}}
    <div class="getfave">
      <table class="fave-movie">
        <tbody>
          <tr>
            <th>Id</th>
            <th>Title </th>
            <th>Genre </th>
            <th>Comment </th>
          </tr>

        <tr data-id="{{favorite_movie.id}}">
          <td>{{favorite_movie.id}}</td>
          <td>{{favorite_movie.title}}</td>
          <td>{{favorite_movie.genre}}</td>
          <td>{{favorite_movie.comment}}</td>
          <td>
          <button class="editfave">Edit Movie</button>
          <button class="savefave hidden">Save Changes</button>
          <button class="remove-fave">Remove Movie</button>
          <button class="delete-fave">Delete movie</button>
        </td>
        </tr>
      </tbody>
      </table>
  </div>
{{/each}}
</div>
